!/.gitattributes
!/.github/workflows/pull-request-lint.yml
!/package.json
!/LICENSE
!/.npmignore
deployment/global-s3-assets/
deployment/regional-s3-assets/
deployment/temp/
deployment/test/
source/node_modules/
*.pyc
!/.github/workflows/build.yml
!/.mergify.yml
!/.github/workflows/upgrade.yml
!/.github/pull_request_template.md
!/test/
!/tsconfig.json
!/tsconfig.dev.json
!/src/
/lib
/dist/
!/.eslintrc.json
/assets/
!/cdk.json
/cdk.out/
.cdk.staging/
.parcel-cache/
*.pyc
*.js
*.csv
cdk.out
cdk.context.json
**/.pytest_cache/
*.zip
*.d.ts

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
